.form_antd{
  width: 500px;
  position: absolute;
  top:calc(50% - 250px);
  left:calc(50% - 270px);
  background-color: white;
  height: 270px;
}

.form_antd form{
  width: 400px;
  margin:0 auto;
  margin-left: 20px ;
}

.button_form{
  width: 120px;
  float: right;
}

.formTitle{
  width: 400px;
  margin:20px auto;
  text-align: start;
  font-size: 20px;
}
